h1
{
  text-align: center;
  color: #C94848;
}
h1:hover{

}
.robots
{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.head,.left_arm,.stomach,.right_arm,.left_leg,.right_leg {
	 background-color: #5f93e8;
}
.head
{
  height: 150px;
  width:200px;
  margin:0 auto;
  border-radius:200px 200px 0 0;
  margin-bottom: 10px;
}
.head:hover {
	width: 300px;
  transition: 1s ease-in-out;
}
.eye
{
  display: flex;
}
.left_eye, .right_eye {
  border-radius: 15px;
  height: 20px;
  width: 20px;
  background-color: white;
}
.left_eye{
  position: relative;
  top: 100px;
  left: 40px;
}
.right_eye{
  position: relative;
  top: 100px;
  left: 120px;
}
.upper_body{
  width: 300px;
  height: 150px;
  display: flex;
}
.left_arm, .right_arm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
}
.left_arm {
	margin-right: 10px;
}
.right_arm {
	margin-left: 10px;
}
.left_arm:hover{
  transform: rotate(30deg);
}
.right_arm:hover{
  transform: rotate(-30deg);
}
.stomach{
  height:200px;
  width: 200px;
  border-radius: 0 0 50px 50px;
}
.lower_body{
  width: 200px;
  height: 200px;
  display: flex;
  margin: 0 auto;
}
.left_leg, .right_leg{
  width: 40px;
  height: 120px;
  border-radius: 0 0 100px 100px;

}
.left_leg{
  margin-left: 45px;

}
.right_leg{
 margin-left: 30px;
}
.left_leg:hover{
  transform: rotate(30deg);
}
.right_leg:hover{
  transform: rotate(-30deg);
}
footer
{
  text-align: right;
  text-decoration: underline;
  margin-right: 30px;
}
